.container {
  display: flex;

}
.container > div {
	background-color:#eeeff2;
  margin: 10px;	
  width: 100px;
  height: 150px;
  padding: 10px;
  font-size: 40px;
  font-family: Tahoma, sans-serif;
  border-left-style: dotted;
  border-width: 10px;
  border-color: #D0D0FF;
}
.container>div:hover{
	background-color: yellow;
	cursor: pointer;
  }
#box6 { 
 position: absolute;
  right: 5px;   
  bottom: 5px; 
}